@import 'fonts'

body
  font-family: 'PT Sans', sans-serif
  font-size: 14px
  line-height: 22px
  letter-spacing: 0.3px
  color: #767676
  margin: 0

.page
  min-height: 100vh
  overflow-x: hidden
  display: flex
  flex-direction: column
  justify-content: space-between

.header-bg
  background-color: #dcdcdc

.logo
  height: 100px

.header
  padding: 65px 0
  display: flex
  justify-content: space-between
  
  &__phones
    display: flex
    flex-direction: column
    padding-top: 3px
    padding-bottom: 5px

  &__phone-item
    font-family: 'OpenSans-CondensedLight'
    font-size: 40px
    line-height: 46px
    text-align-last: right
    letter-spacing: 1px

.wrap
  max-width: 980px
  padding-left: 10px
  padding-right: 10px
  margin: 0 auto

.grey-bg
  background-color: #777777
  color: #ffffff

.menu-bg
  z-index: 20

.menu
  margin: 0
  padding: 0
  text-align: center
  list-style-type: none
  &__item
    padding: 25px 22px 33px
    font-size: 30px
    display: inline-block
    position: relative
    &:not(:last-child):before
      content: ''
      display: block
      position: absolute
      height: 25px
      width: 2px
      background-color: #ffffff
      right: -1px
      top: 26px


    
    &:hover
      cursor: pointer
      .menu__link:before
        background-color: #ffffff


  &__link
    position: relative
    text-decoration: none
    color: #ffffff
    &:before
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 2px
      background-color: transparent
      bottom: 2px
      transition: background-color 0.2s linear
    &:active
      color: #ffffff

.slider
  width: 100%
  background-color: #f8f8f8
  max-height: 400px
  height: 400px
  position: relative
  overflow: hidden

  &__item
    margin: 0 auto
    display: block
    vertical-align: middle
    position: absolute
    left: 0 
    right: 0
    &_mt-60
      margin-top: -60px

.content
  display: flex
  justify-content: space-between
  padding-top: 30px
  padding-bottom: 195px
    
  &__title
    font-size: 40px
    margin: 24px 0 37px
    letter-spacing: 1px

.db
  display: block
.italic
  font-style: italic

.news
  padding-left: 34px
  max-width: 32.3%

  &__post
    padding-right: 53px
    padding-bottom: 8px

    &_align-right
      text-align: right
      padding-top: 6px
  &-link
    text-decoration: underline
    color: #ffffff

.view
  max-width: 58.25%
  &__title
    margin-bottom: 30px

  &__p
    margin-bottom: 22px
    &:last-child
      margin-bottom: 44px

.footer
  display: flex
  padding: 44px 0 66px

  &__item
    &:first-child
      width: 350px
    &:nth-child(2)
      width: 403px
    &:last-child
      width: 220px

.footer-menu
  margin: 0
  padding: 0
  list-style-type: none
  &__item
    display: block
  &__link
    line-height: 25px
    color: #ffffff

.underline
  text-decoration: underline

.company
  display: flex

  &__logo
    padding-top: 5px
    padding-right: 10px