<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet", href="css/main.min.css")
    title Happylend
  body
  .page
    .header-bg
      .wrap
        header.header
          a(href="/").logo
            img(src="img/logo.png", alt="logo", width='273', height='100').header__logo
          .header__phones
            span.header__phone-item +7(499) 777-77-77
            span.header__phone-item +7(499) 777-77-77
    .menu-bg.grey-bg
      .wrap
        ul.menu
          li.menu__item
            a.menu__link(href="/") Главная
          li.menu__item
            a.menu__link(href="/") Каталог
          li.menu__item
            a.menu__link(href="/") Доставка и оплата 
          li.menu__item
            a.menu__link(href="/") Прайс-лист
          li.menu__item
            a.menu__link(href="/") Контакты

    .slider
      img(src="img/slider.png", alt="slide-image").slider__item.slider__item_mt-60

    .wrap
      .content
        .content__item.news.grey-bg
          h1.content__title Новости
          p.news__post
            span.italic.db 14 сентября 2013 г.
            | Редизайн веб-сайта архитектурного бюро.
          p.news__post
            span.italic.db 14 сентября 2013 г.
            | Раскрутка интернет-магазина декора&shy;тивных стикеров и виниловых наклеек.
          p.news__post
            span.italic.db 14 сентября 2013 г.
            | SEO-продвижение сайта поставщика дизель генераторов.
          p.news__post
            span.italic.db 14 сентября 2013 г.
            | Поисковое продвижение веб-сайта поставщика гидрооборудования.
          p.news__post.news__post_align-right
            a(href="/").news-link Архив новостей
        .content__item.view
          .content__title.view__title Компания «Пиксель Плюс»
          p.view__p Компания «Пиксель Плюс» существует более 6 лет, за это время мы принимали участие в разработке более чем 700 сайтов, поэтому можем уверенно называть себя професси&shy;оналами. На данный момент наш коллектив состоит из более чем 30 сотрудников рабо&shy;тающих в двух офисах в Москве и Зеленограде.
          p.view__p Одним из основных направлений работ нашей компании является поисковое продви&shy;жение сайтов, на данной момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно работающих в нашем москов&shy;ском офисе.
          p.view__p Наша компания является золотым сертифицированным партнёром «1С-Битрикс» (сер&shy;тификат № 33939 с 2007 по 2013), что ещё раз подтверждает квалификацию наших сотрудников. В январе 2013 мы стали лидерами продаж продуктов «1С-Битрикс» и вошли в число лучших разработчиков сайтов России. Все специалисты занимающиеся изготовлением сайтов проходят обязательную сертификацию «1С-Битрикс» в течении первых 6 месяцев работы в компании, после чего продолжают непрерывно поддержи&shy;вать и развивать свои профессиональные навыки.

    .grey-bg
      .wrap
        footer.footer
          .footer__item © 2012–2013 ЗАО «Компания»
            br
            | info@name.ru
          .footer__item
            ul.footer-menu
              li.footer-menu__item
                a.footer-menu__link(href="/") Главная
              li.footer-menu__item
                a.footer-menu__link(href="/") Каталог
              li.footer-menu__item
                a.footer-menu__link(href="/") Доставка и оплата 
              li.footer-menu__item
                a.footer-menu__link(href="/") Прайс-лист
              li.footer-menu__item
                a.footer-menu__link(href="/") Контакты
          .footer__item.company
            .company__logo
              img(src="img/logo-footer.png", alt="")
            .company__text 
              span.underline Разработка сайта
              |  — компания «Пиксель Плюс»



    
    script(src='js/script.js')
